@import 'utils';
*{
  margin: 0;
  padding: 0;
}

header {
  background-color: $primary-color;
  text-align: center;
}

body{
  font-family: $font-family;
}

h1{
  font-size: 17px;
  font-weight: bold;
}

h2{
  font-size: 14px;
  color: $green;
  font-weight: lighter;
}
h3{
  font-size: 12px;
}

h4{
  font-size: 10px;
  color: rgba(#000,0.4);
}

button{
  letter-spacing: 0.2px;
}

textarea{
  font-size: 14px;
}

img{
  @include border-radius(50%)
}

p{
  font-size: 14px;
}

