@import 'utils';

header {
  padding: 32px 30px 78px 452px;
  position: relative;
  margin: 0;

  h1 {
    float: left;
  }
}

.body{
  width: 100%;
  height: auto;
  padding-top: 25px;

  .container {
    margin: 25px 183px 143px 184px;

    .post{
      @extend %border-elements;
      width: 100%;

      .post-comment{
        padding: 25px 20px 10px 20px;
      }
      .post-btn-publish{
        @include border-radius(5px);
        padding: 8px 25px;
        margin: 8px;

      }
    }

    .show-post {
      @extend %border-elements;
      margin-top: 20px;
      width: 100%;

      .show-post-single{
        @extend %border-elements;
        padding-top: 20px;
        position: relative;

        .show-image{
          width: 40px;
          height: 40px;
          margin: 0 20px 15px 15px;
          float: left;
        }

        .show-post-info{
          margin: 0 25px 20px 80px;
          width: 80%;

          .show-post-btn{
            border: none;
            margin-right: 50px;
          }

          .show-post-paragraph{
            margin:5px 0;
            padding: 5px 0;
          }
        }
      }

      .show-post-option-interaction{
        @extend %border-elements;
        width: 50%;
        padding: 15px 10px;

        .show-option-color{
          @include border-radius(50%);
          display: inline-block;
          margin: 10px;
          width: 40px;
          height: 40px;
        }

        .show-option-btn{
          text-align: center;

          .option-btn{
            padding: 8px 25px ;
            @include border-radius(5px);
          }
        }



      }

      .show-post-interaction{
        @extend %border-elements;
        padding: 10px;

        .show-interaction{
          display: inline-block;

          .show-reactions{
            padding-left: 15px;

            .reactions-circle{
              @include border-radius(50%);
              width: 19px;
              height: 19px;
              border: 2px solid $primary-color;
              position: relative;
              margin-left: -7px;
            }

          }

          .reactions-number{
            padding: 5px;
            float: right;
          }
        }



        .comments-number{
          float: right;
          padding: 5px;
          display: inline-block;
          text-align: right;
        }

      }

      .show-post-btn-interaction{
        width: 100%;
        .reaction-btn{
          @extend %border-elements;
          width: 50%;
          padding: 15px ;
          margin-right: -4px;
        }
      }

      .show-post-comments{
        @extend %border-elements;
        padding: 10px;
        .show-comment{
          margin: 15px 10px;

          .show-image{
            display: inline-block;
            width: 35px;
            height: 35px;
          }

          .comment{
            padding: 0 10px;
            float:  right;
            width: 85%;
            h4{
              margin-top: 5px;
            }
          }

        }

      }
      .show-post-insert{
        @extend %border-elements;
        padding: 15px;

        .write-comment{
          @extend %border-elements;
          width: 100%;
          padding: 15px;
        }
      }
    }

    .show-image {
      @extend %image-style;
    }
  }
}
@media only screen and (max-width: 768px){

  header {
    padding: 35px 120px 15px 127px;

    .pulldow-menu{
      margin: 0 0 0 200px;
      width: 18px;
      span{
        height: 2px;
        margin-bottom: 3px;
      }
    }
  }

  .body {
    padding-top: 5px;
    .container{
      margin: 18px;

      .show-post{
        .show-post-single{
          .show-post-info{
            width: 75%;
          }
        }
        .show-post-comments{
          padding: 0;
          .show-comment{
            margin: 25px 15px;
            .comment{
              width: 85%;
              padding: 0;
              h3{
                margin-right: 10px;
              }
              h4{
                margin-top: 12px;
              }
            }
          }
          .write-comment{
            width: 90%;
          }

        }


      }
    }

    .is-open-modal{
      .is-open-post{
        .post-comment{
          height: 150px;
        }

        .post-btn-publish{
          width: 95%;
          padding: 10px 0;
        }
      }


    }
  }
}

