@import 'variables';
.user-header{
    float: right;
    opacity: 0.54;
}

.button{
    background-color: $green;
    color: $primary-color;
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 12px;
    margin: 8px 8px 8px 550px;
    
}
.textarea{
    padding: 25px 20px 10px 20px;
   
}
.image{
    border: 2px dashed rgba(#000,0.4);
}
