<div class="show-comment">
    <div class="show-image">
        <img class="image-gray" src="img/Perfil1.png">
    </div>
    <div class="comment">
        <h2>{{user.name}}</h2>
        <h3>{{text}} </h3>
        <h4>Hace {{date}} días.</h4>
    </div>
</div>