<form>
    <textarea class="post post-comment" placeholder="Escribe aquí tu estado "></textarea>
    <div class="post-btn">
        <button class="post-btn-publish" type="button">Publicar</button>
    </div>
    <div class="post-close">X</div>
</form>